.page {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.page span{
    border: 1px solid #f1f5f8;
    padding: 2px;
}

.page span:hover{
    background-color: #1056b7;
}

.page .currentPage{
    background-color: #1056b7;
    font-weight: bold;
    border: 1px solid #1056b7;
}